@import url("https://fonts.googleapis.com/css?family=\a 	Anonymous+Pro:400,400i,700,700i|\a 	Bad+Script|\a 	Caveat:400,700|\a 	Comfortaa:300,400,700|\a 	Cormorant+Infant:300,300i,400,400i,500,500i,600,600i,700,700i|\a 	Marck+Script|\a 	Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|\a 	Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|\a 	Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|\a 	PT+Mono|\a 	Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");
/* @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&subset=cyrillic'); */
/* 
@import url("./fonts/arimo/arimo.css"); arimo - Arimo   400,700
@import url("./fonts/baronneue/baronneue.css"); baronneue - Baron Neue  400,700.900
@import url("./fonts/cleanvertising/cleanvertising.css"); cleanvertising - 300,900
@import url("./fonts/clearsans/clearsans.css"); clearsansthin - 200,300,400,400i,500,500i,700
@import url("./fonts/firasans/firasans.css"); firasans - Fira Sans 600,500,500i,400i,100,200,200i
@import url("./fonts/fregat/fregat.css"); fregat - Fregat 400,400i,700,700i

@import url("./fonts/intro/intro.css"); intro - Intro 400
@import url("./fonts/opensans/opensans.css"); opensans - Open Sans  300,300i,400,400i600,600i,700,700i,800,800i
@import url("./fonts/ptsans/ptsans.css"); ptsans - PT Sans 400,400i,700,700i
@import url("./fonts/roboto/roboto.css"); roboto - Roboto 100,100i,300,300i,400,400i,500,500i,700,700i,900,900i
@import url("./fonts/lato/lato.css"); lato - Lato 100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i
 */
/* --- ez-modal --- */
.modal .modal-dialog .modal-content .modal-header {
  margin-bottom: 0; }

#modalFormZakazDanger .modal-danger .modal-body i, #modalFormZakazDanger .modal-danger .modal-body svg {
  color: #ff4b4b !important; }

.ez-form-zakaz-color-red {
  color: red;
  font-weight: 700; }

.ez-form-zakaz {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem; }
  .ez-form-zakaz #FormDraft, .ez-form-zakaz #FormDraft .ez-form-zakaz-card-wrapper, .ez-form-zakaz .card-image {
    border-radius: 0.5rem; }
  .ez-form-zakaz .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .ez-form-zakaz .card-body .form-control {
      padding-bottom: 0.25rem; }
  .ez-form-zakaz .ez-form-zakaz-card-wrapper {
    background-color: rgba(195, 68, 167, 0.75) !important;
    padding: 1rem 1rem 0 !important;
    padding-bottom: 1rem !important; }
    .ez-form-zakaz .ez-form-zakaz-card-wrapper .ez-form-zakaz-card-wrapper-row {
      padding-bottom: 0 !important; }
  .ez-form-zakaz .ez-form-zakaz-header {
    font-family: Comfortaa;
    font-size: 1.15rem; }
    .ez-form-zakaz .ez-form-zakaz-header .ez-form-zakaz-header-text {
      padding-bottom: 0.75rem;
      text-shadow: 1px 1px black; }
      .ez-form-zakaz .ez-form-zakaz-header .ez-form-zakaz-header-text .ez-form-zakaz-header-text-during {
        font-size: 0.9rem;
        font-style: italic; }
    .ez-form-zakaz .ez-form-zakaz-header .ez-form-zakaz-header-icon {
      justify-content: center; }
  .ez-form-zakaz .ez-form-zakaz-btn {
    display: inline-flex;
    color: white !important;
    border-color: white !important;
    text-shadow: 1px 1px black;
    font-size: 1.15rem; }
    .ez-form-zakaz .ez-form-zakaz-btn i, .ez-form-zakaz .ez-form-zakaz-btn svg {
      font-size: 2rem;
      margin-right: 2.5rem; }
  .ez-form-zakaz .ez-form-zakaz-footer {
    font-family: Comfortaa;
    font-size: 0.75rem;
    font-style: italic; }
  .ez-form-zakaz .ez-form-zakaz-form input {
    font-size: 1.25rem;
    font-family: Open Sans; }
  .ez-form-zakaz .ez-form-zakaz-form.ez-form-zakaz-form-req::after {
    content: "*";
    font-family: Comfortaa;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.3rem; }
  .ez-form-zakaz .ez-form-zakaz-form i, .ez-form-zakaz .ez-form-zakaz-form svg {
    font-size: 1.75rem; }
  .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-marka i, .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-marka svg, .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-model i, .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-model svg, .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-generation i, .ez-form-zakaz .ez-form-zakaz-form.ez-car-autocompl-form-generation svg {
    font-size: 1.4rem; }

#modalFormZakazSuccess .modal-success .modal-content .modal-body {
  padding: 1rem 1.5rem; }
  #modalFormZakazSuccess .modal-success .modal-content .modal-body svg {
    color: #01d36b; }

#modalFormZakazInfo .modal-info .modal-content .modal-body {
  padding: 1rem 1.5rem; }
  #modalFormZakazInfo .modal-info .modal-content .modal-body svg {
    color: #5394ff; }

#modalFormZakazWarning .modal-warning .modal-content .modal-body {
  padding: 1rem 1.5rem; }
  #modalFormZakazWarning .modal-warning .modal-content .modal-body svg {
    color: #ff8e38; }

#modalFormZakazDanger .modal-danger .modal-content .modal-body {
  padding: 1rem 1.5rem; }
  #modalFormZakazDanger .modal-danger .modal-content .modal-body svg {
    color: #ff4b4b; }

.ez-form-zakaz-simpe {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem 0; }
  .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section {
    border-radius: 0.5rem; }
    .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form {
      background-color: rgba(209, 63, 169, 0.9) !important;
      font-family: Comfortaa;
      font-weight: 400;
      border-radius: 0.5rem; }
      .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-header {
        border-bottom: 1px solid white; }
        .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-header .ez-form-zakaz-simpe-card-header-text h5 {
          font-weight: 700;
          text-transform: uppercase; }
      .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body {
        padding-top: 0.5rem; }
        .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-body-form i, .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-body-form svg {
          font-size: 1.75rem; }
        .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-body-form label {
          font-family: Roboto, sans-serif;
          font-size: 1rem; }
        .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-body-form-req::after {
          content: "*";
          font-family: Comfortaa;
          font-size: 2rem;
          color: white;
          position: absolute;
          top: 0;
          right: 1rem;
          padding: 0.3rem; }
        .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-btn {
          color: white;
          border-color: white;
          padding: 0.75rem; }
          .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-btn i, .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-btn svg {
            color: white;
            font-size: 1.25rem;
            margin-right: 1rem; }
          .ez-form-zakaz-simpe .ez-form-zakaz-simpe-con .ez-form-zakaz-simpe-section .ez-form-zakaz-simpe-form .ez-form-zakaz-simpe-card .ez-form-zakaz-simpe-card-body .ez-form-zakaz-simpe-card-btn span {
            color: white; }

/* 
.ez-form-zakaz-form.ez-form-zakaz-form-req
.ez-form-zakaz-simpe-card-body-form.ez-form-zakaz-simpe-card-body-form-req

.ez-form-zakaz-form {
        input {
            font-size: 1.25rem;
            font-family: Open Sans;
        }
        &.ez-form-zakaz-form-req {
            &::after {
                content: "*";
                font-family: Comfortaa;
                font-size: 2rem;
                color: white;
                position: absolute;
                top: 0;
                right: 1rem;
                padding: 0.3rem;
            }
        }
        i, svg {
            font-size: 1.75rem;
        }
        &.ez-car-autocompl-form-marka,
        &.ez-car-autocompl-form-model,
        &.ez-car-autocompl-form-generation {
            i, svg {
                font-size: 1.4rem;
            }      
        }
    } */
/* input:required:invalid {
    border:1px solid red;
} */
.ez-form-control {
  padding-top: 1rem !important; }

.tooltip.bs-tooltip-top {
  top: 1.5rem !important; }

.bs-tooltip-top .arrow::before {
  border-top-color: #ff4444 !important; }

.tooltip-inner {
  font-family: Comfortaa;
  font-size: 0.85rem;
  font-weight: 300;
  color: white !important;
  background-color: #ff4444 !important;
  padding: 0.3rem 0.75rem !important; }

.ez-form-draft-status {
  padding-left: 3rem;
  color: #ff4444;
  margin-top: -1rem;
  font-family: Open Sans;
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  text-shadow: 3px 3px 3px black; }

.ez-work-schema .ez-work-schema-cont .ez-work-schema-row {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  min-width: 100%; }
  .ez-work-schema .ez-work-schema-cont .ez-work-schema-row.ez-work-schema-row-header {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-bottom: 0; }
    .ez-work-schema .ez-work-schema-cont .ez-work-schema-row.ez-work-schema-row-header h5 {
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 0.75rem; }
  .ez-work-schema .ez-work-schema-cont .ez-work-schema-row.ez-work-schema-row-body {
    border: 1px solid white;
    border-radius: 0.5rem; }
  .ez-work-schema .ez-work-schema-cont .ez-work-schema-row .ez-work-schema-col .ez-work-schema-col-icon {
    font-size: 3rem; }

/* &.ez-trigger-dover-row-header { ez-work-schema-row-header
      display: flex;
      justify-content: center;
      padding-top: 1.75rem;
      padding-bottom: 0;
      h5 {
          //font-family: Marck Script;
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 0;
      }
  } */
.ez-trigger-dover-row {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 1.35rem 0 0.7rem; }
  .ez-trigger-dover-row.ez-trigger-dover-row-header {
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 0; }
    .ez-trigger-dover-row.ez-trigger-dover-row-header h5 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0; }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-col-icon {
    font-size: 2.5rem; }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-kachest .ez-trigger-dover-col-icon {
    background-color: rgba(255, 187, 51, 0.85); }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-brand .ez-trigger-dover-col-icon {
    background-color: rgba(51, 181, 229, 0.55); }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-tseny .ez-trigger-dover-col-icon {
    background-color: rgba(170, 102, 204, 0.55); }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-dostavka .ez-trigger-dover-col-icon {
    background-color: rgba(43, 187, 173, 0.55); }
  .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card .card-body {
    padding-top: .5rem;
    padding-bottom: 0; }
    .ez-trigger-dover-row .ez-trigger-dover-col .ez-trigger-dover-card .card-body .card-text {
      text-transform: none; }

.ez-tovar {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .ez-tovar .ez-tovar-card {
    cursor: pointer; }
    .ez-tovar .ez-tovar-card .ez-tovar-card-header {
      font-family: Comfortaa;
      font-weight: 400;
      font-size: 0.8rem;
      padding: 0.3rem 0 0 0 !important;
      background-color: rgba(170, 102, 204, 0.55) !important;
      cursor: pointer; }
      .ez-tovar .ez-tovar-card .ez-tovar-card-header h2 {
        padding: 0.5rem 0 0 0 !important; }
      .ez-tovar .ez-tovar-card .ez-tovar-card-header p {
        padding: 0 !important; }
      .ez-tovar .ez-tovar-card .ez-tovar-card-header:hover {
        background-color: rgba(209, 63, 169, 0.9) !important; }
  .ez-tovar .ez-tovar-card-body {
    background-color: transparent !important; }

/* @import "ez-circle-progress"; */
/* ez-button-up */
.ez-button-up a,
.ez-button-vk a {
  outline: 0; }
.ez-button-up i, .ez-button-up svg,
.ez-button-vk i,
.ez-button-vk svg {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1rem; }

.ez-button-vk {
  position: fixed;
  bottom: 125px;
  right: 24px; }
  .ez-button-vk a {
    background-color: #4a76a8; }

.switch-version {
  position: fixed;
  width: 50px;
  background: #fff;
  right: 0;
  top: 50px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.switch-version a:first-child > .switch-to {
  border-top-left-radius: 4px; }

.switch-to.mdb-jquery {
  background-position: 0 -40px; }

.switch-to.active {
  background-color: rgba(0, 0, 0, 0.15); }

.switch-to {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(https://mdbootstrap.com/img/logo/mdb-angular.png);
  background-repeat: no-repeat; }

/* @import "ez-button-atom"; */
/* --- ez-car-autocompl --- */
.ez-car-autocompl-form {
  color: rgba(198, 37, 178, 0.85) !important;
  /* 	ul {
  	color: rgba(198,37,178,0.75)!important;
  	.mdb-autocomplete-wrap {
  		background-color: rgba(198,37,178,0.75)!important;
  		li {
  			color: rgba(198,37,178,0.95)!important;
  		}
  	}
  } */ }
  .ez-car-autocompl-form .ez-car-autocompl-input {
    color: white !important; }
  .ez-car-autocompl-form .ez-car-autocompl-button {
    color: white !important; }
  .ez-car-autocompl-form .mdb-autocomplete-wrap li {
    cursor: pointer;
    padding: 0.3rem 1rem;
    font-size: 1.1rem; }

.ez-flipclock {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0; }
  .ez-flipclock .ez-flipclock-row.ez-flipclock-row-header {
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 0; }
    .ez-flipclock .ez-flipclock-row.ez-flipclock-row-header h5 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0; }
  .ez-flipclock .ez-flipclock-row.ez-flipclock-row-header-rest {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0; }
    .ez-flipclock .ez-flipclock-row.ez-flipclock-row-header-rest h5 {
      font-family: Marck Script;
      font-size: 1.7rem;
      font-weight: 400;
      margin-bottom: 0; }
  .ez-flipclock .ez-flipclock-row.ez-flipclock-row-body .ez-flipclock-clock {
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-bottom: 0; }
    .ez-flipclock .ez-flipclock-row.ez-flipclock-row-body .ez-flipclock-clock.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
      color: white !important; }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-col-icon {
    font-size: 2.8rem; }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-kachest .ez-trigger-dover-col-icon {
    background-color: rgba(255, 187, 51, 0.85); }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-brand .ez-trigger-dover-col-icon {
    background-color: rgba(51, 181, 229, 0.55); }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-tseny .ez-trigger-dover-col-icon {
    background-color: rgba(170, 102, 204, 0.55); }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-dostavka .ez-trigger-dover-col-icon {
    background-color: rgba(43, 187, 173, 0.55); }
  .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card .card-body {
    padding-top: .75rem;
    padding-bottom: 0; }
    .ez-flipclock .ez-trigger-dover-col .ez-trigger-dover-card .card-body .card-text {
      text-transform: none; }

.ez-dostavka-oplata {
  color: white;
  font-family: Comfortaa;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0; }
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-col,
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-col {
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem; }
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-row-header,
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-row-header {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
    margin: 0.3rem; }
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-row-header h5,
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-row-header h5 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0; }
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-row-body,
  .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-row-body {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0; }
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-row-body ul,
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-row-body ul {
      text-align: left; }
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-dostavka-row-body.flip-clock-wrapper .flip-clock-divider .flip-clock-label,
    .ez-dostavka-oplata .ez-dostavka-oplata-row .ez-dostavka-oplata-col .ez-oplata-row-body.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
      color: white !important; }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-col-icon {
    font-size: 2.8rem; }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-kachest .ez-trigger-dover-col-icon {
    background-color: rgba(255, 187, 51, 0.85); }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-brand .ez-trigger-dover-col-icon {
    background-color: rgba(51, 181, 229, 0.55); }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-tseny .ez-trigger-dover-col-icon {
    background-color: rgba(170, 102, 204, 0.55); }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card.ez-trigger-dover-card-dostavka .ez-trigger-dover-col-icon {
    background-color: rgba(43, 187, 173, 0.55); }
  .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card .card-body {
    padding-top: .75rem;
    padding-bottom: 0; }
    .ez-dostavka-oplata .ez-trigger-dover-col .ez-trigger-dover-card .card-body .card-text {
      text-transform: none; }

.intro-2 {
  background: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg") no-repeat center center;
  background-size: cover; }

.top-nav-collapse {
  background-color: #3f51b5 !important; }

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important; } }
.hm-gradient .full-bg-img {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%); }

.card {
  background-color: rgba(126, 123, 215, 0.2); }

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem; }

.md-form label {
  color: #ffffff; }

h6 {
  line-height: 1.7; }

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px; } }

/*# sourceMappingURL=app.css.map */
