.ez-bcol-blue-main {
  background-color: #064780 !important; }

.ez-header, .ez-draft {
  color: white !important;
  font-size: 0.8rem; }
  .ez-header .ez-header-logo, .ez-draft .ez-header-logo {
    margin: 1rem 0 0 0; }
    .ez-header .ez-header-logo img, .ez-draft .ez-header-logo img {
      margin: auto; }
  .ez-header .ez-header-name, .ez-draft .ez-header-name {
    text-align: center; }
    .ez-header .ez-header-name .ez-header-name-title, .ez-draft .ez-header-name .ez-header-name-title {
      font-family: Comfortaa;
      font-weight: 400;
      font-size: 2rem;
      margin: 1rem 0 0 0; }
    .ez-header .ez-header-name .ez-header-name-subtitle, .ez-draft .ez-header-name .ez-header-name-subtitle {
      font-family: Marck Script; }
  .ez-header .ez-header-addresse, .ez-draft .ez-header-addresse {
    font-family: Comfortaa;
    font-weight: 300;
    margin: 1rem 0 0.5rem 0; }
    .ez-header .ez-header-addresse .ez-header-addresse-post,
    .ez-header .ez-header-addresse .ez-header-addresse-phone,
    .ez-header .ez-header-addresse .ez-header-addresse-time, .ez-draft .ez-header-addresse .ez-header-addresse-post,
    .ez-draft .ez-header-addresse .ez-header-addresse-phone,
    .ez-draft .ez-header-addresse .ez-header-addresse-time {
      margin-top: 0.25rem;
      margin-bottom: 0.35rem; }
      .ez-header .ez-header-addresse .ez-header-addresse-post p,
      .ez-header .ez-header-addresse .ez-header-addresse-phone p,
      .ez-header .ez-header-addresse .ez-header-addresse-time p, .ez-draft .ez-header-addresse .ez-header-addresse-post p,
      .ez-draft .ez-header-addresse .ez-header-addresse-phone p,
      .ez-draft .ez-header-addresse .ez-header-addresse-time p {
        margin: 0 !important; }
      .ez-header .ez-header-addresse .ez-header-addresse-post i,
      .ez-header .ez-header-addresse .ez-header-addresse-phone i,
      .ez-header .ez-header-addresse .ez-header-addresse-time i, .ez-draft .ez-header-addresse .ez-header-addresse-post i,
      .ez-draft .ez-header-addresse .ez-header-addresse-phone i,
      .ez-draft .ez-header-addresse .ez-header-addresse-time i {
        font-size: 1.05rem; }

.ez-draft .ez-draft-l {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .ez-draft .ez-draft-l .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .ez-draft .ez-draft-l .card-body .form-control {
      padding-bottom: 0.25rem; }
  .ez-draft .ez-draft-l .ez-draft-l-card {
    padding-bottom: 0rem; }
  .ez-draft .ez-draft-l .ez-draft-l-card-wrapper {
    background-color: rgba(62, 69, 81, 0.35) !important;
    padding: 2rem 1rem !important; }
  .ez-draft .ez-draft-l .ez-draft-l-embed {
    border-radius: 0.3rem; }
  .ez-draft .ez-draft-l .ez-draft-l-footer {
    font-family: Comfortaa;
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-shadow: 1px 1px black; }
.ez-draft .ez-draft-r {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  .ez-draft .ez-draft-r .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    .ez-draft .ez-draft-r .card-body .form-control {
      padding-bottom: 0.25rem; }
  .ez-draft .ez-draft-r .ez-draft-r-card-wrapper {
    background-color: rgba(62, 69, 81, 0.35) !important;
    padding: 2rem 1rem !important; }
  .ez-draft .ez-draft-r .ez-draft-r-header {
    font-family: Comfortaa;
    font-size: 1.15rem; }
    .ez-draft .ez-draft-r .ez-draft-r-header .ez-draft-r-header-text {
      padding-bottom: 0.75rem;
      text-shadow: 1px 1px black; }
      .ez-draft .ez-draft-r .ez-draft-r-header .ez-draft-r-header-text .ez-draft-r-header-text-during {
        font-family: Marck Script;
        font-size: 1.3rem; }
    .ez-draft .ez-draft-r .ez-draft-r-header .ez-draft-r-header-icon {
      justify-content: center; }
  .ez-draft .ez-draft-r .ez-draft-r-footer {
    font-family: Comfortaa;
    font-size: 0.75rem; }
  .ez-draft .ez-draft-r .ez-draft-r-btn {
    color: white !important;
    border-color: white !important;
    font-size: 1.15rem; }
    .ez-draft .ez-draft-r .ez-draft-r-btn i {
      font-size: 2rem;
      margin-right: 2rem; }

.ez-tovar {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .ez-tovar .ez-tovar-card .ez-tovar-card-header {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0.3rem 0 0 0 !important; }
    .ez-tovar .ez-tovar-card .ez-tovar-card-header h2 {
      padding: 0.5rem 0 0 0 !important; }
    .ez-tovar .ez-tovar-card .ez-tovar-card-header p {
      padding: 0 !important; }
  .ez-tovar .ez-tovar-card-body {
    background-color: transparent !important; }

.ez-footer {
  font-family: Comfortaa;
  font-weight: 400;
  margin-top: 0 !important; }
  .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row {
    padding-top: 0 !important;
    margin-top: 0 !important;
    /* .ez-footer-social {
            a {
                width: 4rem;
                height: 4rem;
                .ez-footer-social-fa {
                    font-size: 3rem!important;
                    line-height: 4rem!important;
                }
            }
        } */ }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-logo {
      display: flex;
      justify-content: center; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-logo img {
        margin: auto; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-header {
      font-size: 1.1rem !important;
      text-align: center !important;
      margin-bottom: 1rem !important; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka {
      padding-left: 2rem; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-header {
        font-size: 1.1rem !important;
        text-align: left !important; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-info .ez-footer-info-dostavka .ez-footer-info-dostavka-spisok {
        font-size: 0.75rem !important;
        text-align: left !important;
        list-style: square outside;
        padding-left: 1rem; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-yandex-map {
      display: flex !important;
      justify-content: center !important; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-header {
      font-size: 1.1rem !important;
      text-align: left !important; }
    .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body {
      font-size: 1rem !important;
      text-align: left !important;
      padding-left: 1rem; }
      .ez-footer .ez-footer-cont-x .ez-footer-cont .ez-footer-row .ez-footer-contact .ez-footer-contact-body p {
        margin-bottom: 0.5rem; }

@media all and (max-width: 480px) {
  .ez-draft-r-btn {
    font-size: 0.75rem !important;
    padding: 0.45rem; }
    .ez-draft-r-btn i {
      font-size: 1.25rem !important;
      margin-right: 0.75rem !important; }

  .ez-draft-r-header-text {
    font-size: 0.8rem !important; }
    .ez-draft-r-header-text .ez-draft-r-header-text-during {
      font-size: 0.9rem !important; }

  .ez-header-addresse-time {
    font-size: 0.75rem; } }

/*# sourceMappingURL=ezh.css.map */
