// _ez-form-zakaz
.ez-form-zakaz {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    #FormDraft, #FormDraft .ez-form-zakaz-card-wrapper, .card-image{
        border-radius: 0.5rem;
    }
    .card-body {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        .form-control {
            padding-bottom: 0.25rem;
        }
    }
    .ez-form-zakaz-card-wrapper {
        //background-color: rgba(192, 14, 170, 0.3) !important;
        background-color: rgba(195,68,167,.75) !important;
        padding: 1rem 1rem 0!important;
        padding-bottom: 1rem!important;
        .ez-form-zakaz-card-wrapper-row {
            padding-bottom: 0!important;
        }
    }
    .ez-form-zakaz-header {
        font-family: Comfortaa;
        font-size: 1.15rem;
        .ez-form-zakaz-header-text{
            padding-bottom: 0.75rem;
            text-shadow: 1px 1px black;
            .ez-form-zakaz-header-text-during {
                //font-family: Marck Script;
                font-size: 0.9rem;
                font-style: italic;
            }                        
        }
        .ez-form-zakaz-header-icon {
            justify-content: center;
        }
    }
    .ez-form-zakaz-btn {
        display: inline-flex;
        color: white !important;
        border-color: white!important;
        text-shadow: 1px 1px black;
        font-size: 1.15rem;
        i, svg {
            font-size: 2rem;
            margin-right: 2.5rem;            
        }
    } 
    .ez-form-zakaz-footer {
        font-family: Comfortaa;
        font-size: 0.75rem;
    }
    .ez-form-zakaz-form {
        input {
            font-size: 1.25rem;
            font-family: Open Sans;
        }
        &.ez-form-zakaz-form-req {
            &::after {
                content: "*";
                font-family: Comfortaa;
                font-size: 2rem;
                color: white;
                position: absolute;
                top: 0;
                right: 1rem;
                padding: 0.3rem;
            }
        }
        i, svg {
            font-size: 1.75rem;
        }
        &.ez-car-autocompl-form-marka,
        &.ez-car-autocompl-form-model,
        &.ez-car-autocompl-form-generation {
            i, svg {
                font-size: 1.4rem;
            }      
        }
    }
    
}

#modalFormZakazSuccess {
    .modal-success{ 
        .modal-content {
            .modal-body {
                padding: 1rem 1.5rem;
                svg{
                    color: rgba(1,211,107,1);
                }
            }
        }
    }
}

#modalFormZakazInfo {
    .modal-info{ 
        .modal-content {
            .modal-body {
                padding: 1rem 1.5rem;
                svg{
                    color: rgba(83,148,255,1);
                }
            }
        }
    }
}
#modalFormZakazWarning {
    .modal-warning{ 
        .modal-content {
            .modal-body {
                padding: 1rem 1.5rem;
                svg{
                    color: rgba(255,142,56,1);
                }
            }
        }
    }
}
#modalFormZakazDanger {
    .modal-danger{ 
        .modal-content {
            .modal-body {
                padding: 1rem 1.5rem;
                svg{
                    color: rgba(255,75,75,1);
                }
            }
        }
    }
}

