/* --- ez-car-autocompl --- */
.ez-car-autocompl-form {
	color: rgba(198,37,178,0.85)!important;
	.ez-car-autocompl-input {
		color: white!important;
	}
	.ez-car-autocompl-button {
		color: white!important;
	}
	.ez-car-autocompl-label {}	

	.mdb-autocomplete-wrap li {
	    cursor: pointer;
	    padding: 0.3rem 1rem;
	    font-size: 1.1rem;
	}
/* 	ul {
	color: rgba(198,37,178,0.75)!important;
	.mdb-autocomplete-wrap {
		background-color: rgba(198,37,178,0.75)!important;
		li {
			color: rgba(198,37,178,0.95)!important;
		}
	}
} */
}
