// _ez-trigger-dover
.ez-trigger-dover-row {
    color: white;
    font-family: Comfortaa;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 1.35rem 0 0;
    &.ez-trigger-dover-row-header {
        display: flex;
        justify-content: center;
        padding-top: 1.75rem;
        padding-bottom: 0;
        h5 {
            //font-family: Marck Script;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 0;
        }
    }
    .ez-trigger-dover-col {
        .ez-trigger-dover-col-icon {
            font-size: 2.8rem;
        }
        .ez-trigger-dover-card {
            &.ez-trigger-dover-card-kachest {
                .ez-trigger-dover-col-icon {
                    background-color: rgba(255, 187, 51, 0.85);
                }
            }
            &.ez-trigger-dover-card-brand {
                .ez-trigger-dover-col-icon {
                    background-color: rgba(51, 181, 229, 0.55);
                }
            }
            &.ez-trigger-dover-card-tseny {
                .ez-trigger-dover-col-icon {
                    background-color: rgba(170, 102, 204, 0.55);
                }
            }
            &.ez-trigger-dover-card-dostavka {
                .ez-trigger-dover-col-icon {
                    background-color: rgba(43, 187, 173, 0.55);
                }
            }
            .card-body {
                padding-top: .75rem;
                padding-bottom: 0;
                .card-text {
                    text-transform: none;
                }  
            }
        }                
    }
}       


