.ez-circle-progress {
    .ez-circle-progress-cont {
        .ez-circle-progress-row {
            text-align: center;
            color: #fff;
            .ez-circle-progress-col {
                font-family: Comfortaa;
                font-size: 0.7rem;
                font-weight: 400;
                text-align: center;
                text-transform: uppercase;
                padding: 1.5rem;
                .circle {
                    width: 100%;
                    margin: 6px 6px 20px;
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    line-height: 1.2;
                    .ez-circle-progress-col-header {
                        font-weight: 700;
                        line-height: 1.7;
                    }
                    strong {
                        position: absolute;
                        top: 1.7rem;
                        left: 0;
                        width: 100%;
                        font-size: 2rem!important;
                        text-align: center;
                        line-height: 3rem;
                    }
                    canvas {
                        vertical-align: top;
                    }
                    span {
                        display: block;
                        color: white;
                        margin-top: 12px;
                        line-height: 1.25rem;
                    }
                }                    
            }
        }        
    }    
}


/* .circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
.circle canvas {
    vertical-align: top;
}
 */
/* .circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
} */

/* .circle span {
        display: block;
        color: white;
        margin-top: 12px;
    }
     */    