// _ez-action-form-simpe
.ez-action-form-simpe {
    color: white;
    font-family: Comfortaa;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    padding: 0.5rem 0;
    .ez-action-form-simpe-con {
        .ez-action-form-simpe-section{
            border-radius: 0.5rem;
            .ez-action-form-simpe-form{
                background-color: rgba(209, 63, 169, .9)!important;
                font-family: Comfortaa;
                font-weight: 400;
                border-radius: 0.5rem;
                .ez-action-form-simpe-card{
                    .ez-action-form-simpe-card-header{
                        border-bottom: 1px solid white;
                        .ez-action-form-simpe-card-header-text{
                            h5{
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .ez-action-form-simpe-card-body{
                        .ez-action-form-simpe-card-body-form{
                            i, svg {
                                font-size: 1.75rem;
                            }
                            label {
                                font-family: Roboto, sans-serif;
                                font-size: 1rem;
                            }
                        }
                        &.ez-action-form-simpe-card-body-form-req{}
                        .ez-action-form-simpe-card-btn {
                            color: white;
                            border-color: white;
                            padding: 0.75rem;
                            i, svg {
                                color: white;
                                font-size: 1.25rem;
                                margin-right: 1rem;
                            }
                            span {
                                color: white;
                            }
                        }
                    }
                }
            }    
        }
    }
}    

