.ez-form-draft-status {
    padding-left: 3rem;
    color: #ff0000;
    margin-top: -1rem;
    font-family: Open Sans;
    font-size: 0.85rem;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
}
