.ez-bcol-main-blue {
    background-color: rgba(6, 71, 128, 1)!important;
}
.ez-bcol-main-blue-light {
    background-color: rgba(63,114,155, 1)!important;
}

.ez-body {
    
}

.ez-header, .ez-draft {
    color: rgba(255, 255, 255, 1)!important;
    font-size: 0.8rem;
    .ez-header-logo {
		margin: 1rem 0 0 0;    	
        img {
            margin: auto;
        }
    }
    .ez-header-name{
    	text-align: center;
    	.ez-header-name-title {
    		font-family: Comfortaa;
    		font-weight: 400;	
            font-size: 2rem;	
    		margin: 1rem 0 0 0;
    	}
    	.ez-header-name-subtitle {
    		font-family: Marck Script;
    	}
    }
    .ez-header-addresse {
		font-family: Comfortaa;
		font-weight: 300;		
		margin: 1rem 0 0.5rem 0;	
        .ez-header-addresse-post,
        .ez-header-addresse-phone,
		.ez-header-addresse-time
		{
			margin-top: 0.25rem;
			margin-bottom: 0.35rem;
            p {
                margin: 0!important;
            }
            i {
                font-size: 1.05rem;
            }
            a {
               color: white!important;
            }
//.ez-header-addresse p.ez-header-addresse-phone a            

		}
	}

}

.ez-draft {
    .ez-draft-l {
        margin-top: 0.5rem;
        margin-bottom: 0;
        .card-body {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            .form-control {
                padding-bottom: 0.25rem;
            }
        }
        .ez-draft-l-card {
            padding-bottom: 0;
        }
        .ez-draft-l-card-wrapper {
            background-color: rgba(192, 14, 170, .9) !important;
            padding: 0!important;
            border-radius: 0.3rem;
        }

        .ez-draft-l-embed {
            border-radius: 0.3rem;  
            .ez-draft-l-embed-video {
                //margin-top: 1rem;
            }
        }
        .ez-draft-l-footer {
            font-family: Comfortaa;
            font-size: 1.15rem;
            font-weight: 700;
            margin-top: 3rem;
            padding-bottom: 3rem;
            text-shadow: 1px 1px black;
        }
    }
}

.ez-footer {
    font-family: Comfortaa;
    font-weight: 400;
    margin-top: 0!important;
    .ez-footer-cont-x {
        .ez-footer-cont {
            background-color: rgba(54,101,139,1);
            padding: 0.5rem;
            .ez-footer-row {
                padding-top: 0!important;
                margin-top: 0!important;
                .ez-footer-info {
                    padding: 0 1.5rem;
                    margin-top: 1rem;
                    h6 {
                        font-size: 1rem!important;
                    }
                    .ez-footer-info-logo {
                        /* display: flex;
                        justify-content: center;
                        padding: 0 5rem;
                        img {
                            margin: auto;
                        } */
                    }
                    .ez-footer-info-header {
                        font-size: 1rem!important;
                        text-align: center!important;
                        .ez-footer-info-header-40 {
                            font-size: 1.25rem!important;
                            font-style: italic;
                            color: red!important;
                        }
                         a:hover {
                             color: rgba(226,49,188,1)!important;
                             font-style: bold;
                         }
                    }
                    .ez-footer-info-dostavka {
                        .ez-footer-info-dostavka-header {
                            justify-content: center;
                            text-transform: uppercase;
                            border-top: 1px solid white;
                            h5 {
                                font-size: 1.1rem!important;
                            }
                        }    
                        .ez-footer-info-dostavka-body {
                            font-size: 0.75rem!important;
                            text-align: left!important;   
                            padding-left: 1rem;
                            ul {
                                list-style: disc outside;
                            }
                        }
                        .ez-footer-info-dostavka-free {
                            font-size: 0.5rem;
                        }
                    }
                }
                .ez-footer-yandex-map {
                    display: flex!important;
                    justify-content: center!important;
                }
                .ez-footer-contact {
                    -webkit-transition: all 1s ease-out;
                    -moz-transition: all 1s ease-out;
                    -ms-transition: all 1s ease-out;
                    transition: all 1s ease-out;
                    .ez-footer-contact-header {
                        font-size: 1.1rem!important;
                        text-align: left!important;   
                        padding-left: 3rem;
                    }
                    .ez-footer-contact-body {
                        font-size: 0.85rem!important;
                        text-align: left!important;   
                        padding-left: 1rem;
                        p {
                            margin-bottom: 0.5rem;
                        }
                        .ez-footer-contact-addr a,
                        .ez-footer-contact-phone a,
                        .ez-footer-contact-mail a {
                            &:hover {
                                color: rgba(226,49,188,1)!important;
                                //font-weight: 900;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
                /* .ez-footer-social {
                        a {
                            width: 4rem;
                            height: 4rem;
                            .ez-footer-social-fa {
                                font-size: 3rem!important;
                                line-height: 4rem!important;
                            }
                        }
                    } */    
            }    
        }
    }
}    


@media all and (max-width: 480px) {
    .ez-draft-r-btn {
        font-size: 0.75rem!important;
        padding: 0.45rem;
        i {
            font-size: 1.25rem!important;
            margin-right: 0.75rem!important;
        }
    }
    .ez-draft-r-header-text {
        font-size: 0.8rem!important;;
        .ez-draft-r-header-text-during {
            font-size: 0.9rem!important;
        }
    }
    .ez-header-addresse-time {
        font-size: 0.75rem;
    }
}